@use '~sass-rem' as srem;
@import '@styles/variables';

.hamburger {
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;
  width: srem.convert(32px);

  &.is-active {
    .hamburger-inner {
      &,
      &::before,
      &::after {
        background-color: $black;
      }
    }
  }
}

.hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $black;
  }
}
