@use '~sass-rem' as *;
@import '@styles/variables';

.flags {
  display: flex;
  flex-wrap: wrap;
  gap: rem(14px);
}

.flag {
  width: calc((100% / 7) - rem(14px) * 6 / 7);
  padding: rem(5px);
  background-color: $midGrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.flagItem {
  display: flex;
  align-items: center;
  margin-bottom: rem(20px);
}

.flagItemImage {
  width: rem(50px);
  margin-right: auto;
}
