@use '~sass-mq/mq' as *;
@use '~sass-rem' as srem;

.root {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px calc(100% - 160px);

  gap: 0px 0px;
  grid-template-areas:
    'header'
    'model';
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #ededed;
  top: 0;
  left: 0;
  z-index: 999;

  .nav {
    position: absolute;
    width: 100%;
    z-index: 100;
    height: 100px;
    bottom: 0;
    overflow: hidden;
  }

  &.navOpen .nav {
    height: 66%;
  }

  @include mq($from: tablet) {
    grid-template-columns: 33.33% calc(66.66% - 80px) 80px;
    grid-template-rows: 60px 60px 1fr 60px;
    grid-template-areas:
      'nav . .'
      'nav header .'
      'nav model .'
      'nav . .';

    .nav {
      position: initial;
      height: 100%;
      width: auto;
    }
    &.navOpen .nav {
      height: 100%;
    }
  }

  &:before {
    display: none;

    @include mq($until: tablet, $and: '(orientation: landscape)') {
      content: url("data:image/svg+xml,%3Csvg viewBox='0 0 700 700' width='100' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M323.75 17.5h-192.5a43.77 43.77 0 0 0-30.938 12.812A43.766 43.766 0 0 0 87.5 61.25v437.5a43.77 43.77 0 0 0 12.812 30.938A43.766 43.766 0 0 0 131.25 542.5h192.5a43.77 43.77 0 0 0 30.938-12.812A43.766 43.766 0 0 0 367.5 498.75V61.25a43.77 43.77 0 0 0-12.812-30.938A43.766 43.766 0 0 0 323.75 17.5zM350 498.75c0 6.96-2.766 13.641-7.688 18.562S330.71 525 323.75 525h-192.5c-6.96 0-13.64-2.766-18.562-7.688s-7.687-11.602-7.687-18.562V61.25c0-6.96 2.766-13.641 7.687-18.562S124.29 35 131.25 35h26.25v8.75a8.752 8.752 0 0 0 8.75 8.75h122.5a8.752 8.752 0 0 0 8.75-8.75V35h26.25c6.961 0 13.641 2.766 18.562 7.688S350 54.29 350 61.25zM568.75 262.5H402.5a8.75 8.75 0 0 0 0 17.5h166.25c6.96 0 13.641 2.766 18.562 7.688S595 299.29 595 306.25v26.25h-8.75a8.75 8.75 0 0 0-8.75 8.75v122.5a8.752 8.752 0 0 0 8.75 8.75H595v26.25c0 6.96-2.766 13.64-7.688 18.562s-11.602 7.687-18.562 7.687H385a8.75 8.75 0 0 0 0 17.5h183.75a43.77 43.77 0 0 0 30.938-12.812 43.766 43.766 0 0 0 12.812-30.938v-192.5a43.77 43.77 0 0 0-12.812-30.938 43.766 43.766 0 0 0-30.938-12.812zM421.75 119a8.927 8.927 0 0 0 7 3.5 8.577 8.577 0 0 0 5.25-1.75c3.867-2.898 4.648-8.383 1.75-12.25l-13.824-18.551a165.41 165.41 0 0 1 82.633 39.934 165.402 165.402 0 0 1 48.617 77.844l-23.801-14a8.758 8.758 0 0 0-6.95-1.488 8.753 8.753 0 0 0-6.53 11.23 8.738 8.738 0 0 0 4.73 5.305L558.25 231a8.236 8.236 0 0 0 4.375 1.226h2.273a7.701 7.701 0 0 0 5.25-4.027l22.227-37.625a8.92 8.92 0 0 0-2.976-12.074 8.924 8.924 0 0 0-12.074 3.149l-8.926 15.227a182.496 182.496 0 0 0-54.363-81.898 182.54 182.54 0 0 0-88.96-41.828l17.5-13.301v.004c3.866-2.903 4.647-8.387 1.75-12.25a8.746 8.746 0 0 0-12.25-1.75l-35 26.25a8.753 8.753 0 0 0-1.75 12.25z'/%3E%3C/svg%3E");
      display: flex;
      position: fixed;
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: white;
      z-index: 9999;
      align-items: center;
      justify-content: center;
    }
  }
}

.nav {
  grid-area: nav;
}

.model {
  grid-area: model;
  justify-self: stretch;
}

.background {
  grid-area: model;
  align-self: center;
  justify-self: center;
  width: 90%;
}

.loading {
  grid-area: model;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  grid-area: header;
}

.close {
  grid-area: model;
  position: absolute;
  bottom: 10px;
  right: 20px;

  @include mq($from: tablet) {
    bottom: 0px;
    right: 0px;
  }
}
