// Colours

$black: #000000;
$yellow: #fcd02f;
$red: #cc0101;
$white: #fff;
$midGrey: #dddddd;
$grey: #909090;
$darkGrey: #696969;

// Fonts

$defaultFont: roboto, sans-serif;
$displayFont: bebas-neue-by-fontfabric, sans-serif;
