@use '~sass-rem' as srem;

@import '@styles/variables';

.pillButton {
  padding: srem.convert(7px) srem.convert(17px);
  border-radius: 50vw;
  border: 2px solid $black;
  white-space: nowrap;
  width: fit-content;
  color: $black;
}

.pillButtonSelected {
  border-color: $red;
  background-color: $red;
  color: $white;
}
