@use '~sass-rem' as srem;
@use '~sass-mq/mq' as *;

@import '@styles/variables';

.root {
  position: absolute;
  // background-color: white;
  pointer-events: all;
  padding: srem.convert(16px);
  text-align: center;

  div:empty {
    display: block;
  }

  &__rotate {
    width: 90%;
    bottom: 0;
    padding-bottom: srem.convert(8px);

    @include mq($from: tablet) {
      padding-bottom: srem.convert(24px);
    }
  }

  &__scale {
    writing-mode: vertical-rl;
    right: 0;
    height: 90%;
    padding-right: srem.convert(8px);

    @include mq($from: tablet) {
      padding-right: srem.convert(24px);
    }
  }

  :global {
    h4 {
      margin: 0;
    }
  }
}

.rotate {
  height: 20px;

  :global {
    .track {
      top: 9px;
      height: 2px;
    }

    .mark {
      top: 6px;
      margin-left: 10px;
      width: 1.5px;
      height: 8px;
    }
  }
}

.scale {
  // writing-mode: horizontal-tb;
  width: 20px;

  :global {
    .track {
      right: 9px;
      width: 2px;
    }

    .mark {
      right: 6px;
      // margin-top: 5px;
      transform: translateY(-10px);
      height: 1.5px;
      width: 8px;
    }
  }
}

.scale,
.rotate {
  :global .range-slider__thumb[data-lower] {
    width: 0;
  }

  :global .range-slider__range {
    border-radius: 6px;
  }

  :global {
    .track {
      background: $black;

      &.track-0 {
        background: $black;
      }
    }

    .thumb {
      cursor: pointer;
      background: white;
      border: 2px solid $black;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      outline: none;
    }

    .mark {
      cursor: pointer;
      background-color: $black;

      &.mark-before {
        background-color: $black;
      }

      &.mark-active {
        display: none;
      }
    }
  }
}
