@use '~sass-rem' as *;

@import '@styles/variables';

.variations {
  display: flex;
  flex-wrap: wrap;
  gap: rem(15px);
}

.unitToggle {
  display: flex;
  align-items: center;
  font-family: $displayFont;
  font-weight: 900;
  font-size: rem(20px);
  column-gap: rem(5px);
  color: $grey;
}

.toggleButton {
  font-family: $displayFont;
  font-weight: 900;
  font-size: rem(20px);
  color: $grey;
}

.toggleButtonSelected {
  color: $black;
}
