@use '~sass-rem' as srem;

@import '@styles/variables';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: srem.convert(15px);
  border-top: 1px solid $midGrey;
}
