@use '~sass-rem' as srem;
@import '@styles/variables';

.textItem {
  display: flex;
  align-items: center;
  margin-bottom: srem.convert(20px);
}

.textItemText {
  margin-right: auto;
  padding: srem.convert(10px) 0;
}

.materialGroup,
.nameTypes,
.showOutline,
.addCrystals {
  margin-bottom: 2rem;
}

.nameTypes {
  display: flex;

  .nameType:not(last-child) {
    margin-right: srem.convert(10px);
  }
}

.nameTypePricing {
  text-align: center;
  margin-top: srem.convert(10px);
}

.showOutline {
  display: flex;
  align-items: center;

  button {
    margin-right: srem.convert(10px);
  }
}
