@use '~sass-rem' as srem;

@import '@styles/variables';

.root {
  background-color: $red;
  border-radius: srem.convert(50px);
  text-align: center;
  width: srem.convert(100px);
  height: srem.convert(100px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $displayFont;
  color: white;
  font-size: srem.convert(30px);
  font-weight: 900;
}
