@use '~sass-rem' as *;

@import '@styles/variables';

.root {
  font-family: $displayFont;
  padding: rem(13px) rem(18px) rem(7px);
  font-size: rem(20px);
  border: 1px solid $midGrey;
  font-weight: 900;
  color: $grey;
}

.selected {
  background-color: $black;
  color: $white;
}
