<div class='swiper-button-header'>
    <div class='swiper-button-prev'>
        <span class='visually-hidden'>Previous</span>
        {%- render 'icon-chevron' %}
    </div>
    <h2 class='swiper-button-header__title'>{{ title }}</h2>
    <div class='swiper-button-next'>
        <span class='visually-hidden'>Next</span>{% render 'icon-chevron' %}
    </div>
</div>
