<div class="swiper-button-wrapper">
  <div class="swiper-button-prev"><span class="visually-hidden">Previous</span>{% render 'icon-chevron' %}</div>
  <div class="swiper-button-next"><span class="visually-hidden">Next</span>{% render 'icon-chevron' %}</div>
</div>
