@use '~sass-rem' as *;

@import '@styles/variables';

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 73px 1fr 73px;
  gap: 0px 0px;
  grid-template-areas:
    'header'
    'content'
    'actions';
  background-color: white;
  max-width: 500px;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: rem(30px) rem(15px);
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.actions {
  grid-area: actions;
}
