@use '~sass-rem' as *;

@import '@styles/variables';

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 73px 1fr 60px;
  gap: 0px 0px;
  grid-template-areas:
    'header'
    'content'
    'actions';
  background-color: white;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: rem(30px) rem(15px);
}

.actions {
  grid-area: actions;
}
