@use '~sass-rem' as *;
@use '~sass-mq/mq' as *;

@import '@styles/variables';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(16px);

  @include mq($from: tablet) {
    justify-content: flex-end;
    padding: 0;
  }
}

.total {
  font-family: $displayFont;
  font-weight: 900;
  font-size: rem(20px);
  margin-right: rem(40px);
}

.price {
  color: $red;
}
