@use '~sass-rem' as srem;
@use '~sass-mq/mq' as *;

@import '@styles/variables';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 srem.convert(16px);
  z-index: 100;

  @include mq($from: tablet) {
    justify-content: flex-end;
    padding: 0;
  }
}

.total {
  font-family: $displayFont;
  font-weight: 900;
  font-size: srem.convert(20px);
  margin-right: srem.convert(40px);
}

.price {
  color: $red;
}
