@use '~sass-rem' as *;

@import '@styles/variables';

.root {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total {
  font-family: $displayFont;
  font-weight: 900;
  font-size: rem(25px);
  margin-right: rem(40px);
}

.price {
  color: $red;
}
