@use '~sass-rem' as srem;
@import '@styles/variables';

.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: srem.convert(13px);

  button {
    svg {
      width: srem.convert(23px);
    }
  }
}
