@use '~sass-rem' as srem;

@import '@styles/variables';

.root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
  padding: srem.convert(13px) srem.convert(20px) srem.convert(7px);
  color: $white;
  transform: skewX(-5deg);
  background-color: $black;
  font-family: $displayFont;
  font-size: srem.convert(20px);
  font-weight: 900;
  line-height: 1;

  span {
    transform: skewX(5deg);
  }

  &:disabled {
    opacity: 0.25;
  }
}

.red {
  background-color: $red;
}

.darkGrey {
  background-color: $darkGrey;
}

.yellow {
  background-color: $yellow;
}
