@use '~sass-rem' as srem;

@import '@styles/variables';

.root {
  border: 1px solid $midGrey;
  margin-bottom: srem.convert(20px);
  position: relative;
}

.select {
  border: none;
  appearance: none;
  font-family: inherit;
  font-weight: 900;
  font-size: srem.convert(20px);
  outline: none;
  width: 100%;
  padding: srem.convert(18px) srem.convert(16px) srem.convert(12px);
}

.icon {
  height: srem.convert(16px);
  pointer-events: none;
  position: absolute;
  right: srem.convert(16px);
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}
