.button, .button--straight, .product-form__input input[type=radio] + label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  text-decoration: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  padding: 0.8125rem 1.25rem 0.4375rem;
  color: #fff;
  transform: skewX(-5deg);
  background-color: #000000;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1;
}
.button span, .button--straight span, .product-form__input input[type=radio] + label span {
  transform: skewX(5deg);
}
.button--color-red {
  background-color: #cc0101;
}
.button:disabled, .button--straight:disabled, .product-form__input input[type=radio] + label:disabled {
  opacity: 0.25;
}

.button--straight, .product-form__input input[type=radio] + label {
  transform: none;
}

.product {
  margin: 0 0 0;
}
@media (min-width: 46.25em) {
  .product {
    margin-top: 2.5rem;
  }
}
.product--no-media {
  max-width: 57rem;
  margin: 0 auto;
}
.product__media-wrapper {
  padding-left: 0;
  width: 100%;
  max-width: 100%;
}
@media (min-width: 46.25em) {
  .product__media-wrapper {
    width: calc(66.66% - var(--grid-horizontal-spacing) / 2);
  }
}
.product__info-wrapper {
  padding-left: 0;
  padding-bottom: 0;
  width: 100%;
  max-width: 100%;
}
@media (min-width: 46.25em) {
  .product__info-wrapper {
    width: calc(33.33% - var(--grid-horizontal-spacing) / 2);
  }
}
.product__info-container > * + * {
  margin: 0 0 2.5rem;
}
.product__title h1 {
  margin: 0;
}
.product__price .price {
  font-weight: 900;
  font-family: bebas-neue-by-fontfabric, sans-serif;
}

/* Product form */
variant-radios,
variant-selects {
  display: block;
}

.product-form {
  display: block;
}
.product-form__error-message-wrapper:not([hidden]) {
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.product-form__error-message-wrapper svg {
  flex-shrink: 0;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.7rem;
  margin-top: 0.5rem;
}
.product-form__input {
  flex: 0 0 100%;
  padding: 0;
  margin: 0 0 2.5rem;
  max-width: 37rem;
  min-width: -moz-fit-content;
  min-width: fit-content;
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.product-form__input--dropdown {
  margin-bottom: 1.6rem;
}
.product-form__input .form__label {
  padding-left: 0;
}
.product-form__input input[type=radio] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}
.product-form__input input[type=radio] + label {
  color: #909090;
  background-color: transparent;
  border: 1px solid #dddddd;
}
.product-form__input input[type=radio] + label:hover {
  background-color: #000000;
  border-color: #000000;
  color: #fff;
}
.product-form__input input[type=radio]:checked + label {
  background-color: #000000;
  border-color: #000000;
  color: #fff;
}
.product-form__quantity {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.product-form__quantity .form__label {
  flex: 1;
  margin: 0;
}
.product-form__quantity .quantity {
  width: 6.25rem;
  height: auto;
}

/* Dynamic checkout */
.shopify-payment-button__button {
  font-family: inherit;
  min-height: 4.6rem;
}
.shopify-payment-button__button [role=button].focused {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5) !important;
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border)), 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3) !important;
}
.shopify-payment-button__button [role=button]:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none !important;
}
.shopify-payment-button__button [role=button]:focus-visible {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5) !important;
  box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border)), 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3) !important;
}
.shopify-payment-button__button + .shopify-payment-button__button--hidden {
  display: none;
}

.no-js .shopify-payment-button__button [role=button]:focus {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5) !important;
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border)), 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3) !important;
}

.shopify-payment-button__button--unbranded {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  color: rgb(var(--color-button-text));
  font-size: 1.4rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  letter-spacing: 0.07rem;
}
.shopify-payment-button__button--unbranded::-moz-selection {
  background-color: rgba(var(--color-button-text), 0.3);
}
.shopify-payment-button__button--unbranded::selection {
  background-color: rgba(var(--color-button-text), 0.3);
}
.shopify-payment-button__button--unbranded:hover {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
}
.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
}

.shopify-payment-button__more-options {
  margin: 1.6rem 0 1rem;
  font-size: 1.2rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  letter-spacing: 0.05rem;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
