.customiser-steps {
  position: relative;
}
.customiser-steps__header, .customiser-steps__content {
  position: relative;
}
.customiser-steps__header {
  padding-top: 8.9375rem;
  padding-bottom: 3.75rem;
}
@media (min-width: 46.25em) {
  .customiser-steps__header {
    padding-top: 18.75rem;
    padding-bottom: 6.25rem;
  }
}
.customiser-steps__header h2 {
  margin-bottom: 0;
  font-size: 3rem;
  font-size: clamp(
        3rem,
        2.3426966292rem + 2.6966292135vw,
        4.5rem
    );
}
.customiser-steps__header .button {
  margin-top: 1.875rem;
}
.customiser-steps::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fcd02f;
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 65%, 0 80%);
          clip-path: polygon(0 0, 100% 15%, 100% 65%, 0 80%);
}
@media (min-width: 46.25em) {
  .customiser-steps::before {
    -webkit-clip-path: polygon(0 0, 100% 35%, 100% 55%, 0 90%);
            clip-path: polygon(0 0, 100% 35%, 100% 55%, 0 90%);
  }
}
