.page-title {
  margin-top: 0;
}

.page-content {
  max-width: var(--page-width-narrow);
}

.main-page-title {
  padding-top: 3.875rem;
  padding-bottom: 2.9375rem;
  margin-bottom: 3.125rem;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
